## For templates see:
## https://github.com/github/gitignore
##

target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# ===================================
# Temporary Files
# ===================================

*.out
*.log
*.err
*.tmp

# ===================================
# Language Files
# ===================================

# Java
# ===================================

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# ===================================
# Build Tools
# ===================================

# Gradle
# ===================================

.gradle/
build/
vendor/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# ===================================
# Integrated Development Environments
# ===================================

# IntelliJ Idea
# ===================================

.idea/libraries/
.idea/dictionaries/
.idea/shelf/
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml

# ===================================
# Operating System Files
# ===================================

# OSX
# ===================================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
# ===================================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
